@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input{
    height: 40px;
    width: 100%;
    text-align: end;
    padding: 0px 2px 0px 0px;
    cursor: pointer;
    background-color: transparent;
    margin-bottom: 12px;
    border:none;
    color: #ffffff; 

}
.equalBtn{
    background-color: #cf8d4b;
}

.operator{
    color: #04850f;
}

input ::placeholder{
   
   text-emphasis-color: #ffffff;
}
.calculator{

    height: fit-content;
    border: 2px solid rgba(16, 59, 74, 0.2);
    padding: 12px;
    border-radius: 15px;
    background-color: #e2d7d7;
    opacity: 0.8;
    background: transparent;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.2);
}

body{
    /* Define a linear gradient */
background: linear-gradient(to bottom, #45aaac, #8ee3ae, #ff6666);

    width: 100%;
    height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
}
button{
    
   cursor: pointer;
   width: 40px;
   height: 40px;
   margin: 2px;
  box-shadow: -4px -4px 5px rgba(0, 0, 0, 0.3);
   border-radius: 50%;
   background-color: transparent;
   border: none;
   color: #ffffff;
    
}